[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
vulture = "*"

[packages]
certifi = "*"
appnope = {version = ">=0.1.0", sys_platform = "== 'darwin'"}
pypiwin32 = {version = ">=223", sys_platform = "== 'win32'"}
"zope.interface" = {version = ">=4.4.0", sys_platform = "== 'win32'"}
Twisted = {extras = ["tls"], version = ">=16.4.0"}

[requires]
python_version = "3.6"
