[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
certifi = "*"
"zope.interface" = "*"
Twisted = {extras = ["tls"], version = ">=20.3.0"}
pem = "*"
autobahn = {extras = ["twisted"], version = "*"}

[requires]
python_version = "3.8"

[scripts]
server = "python -m syncplay"
shiv-build = "./extras/shiv.sh"
shiv-run = "./syncplay.pyz"
podman-build = "sudo -E ./extras/podman-build.sh"
podman-push = "./extras/podman-push.sh"
k8s-deploy = "sudo -E ./extras/k8s-deploy.sh"

[dev-packages]
shiv = "*"
